<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/light.css">
    <link rel="stylesheet" href="static/style.css">
    <script src="static/index.js"></script>
    <title>Flappy Bird 2.0!</title>
    <h1>Welcome to Flappy Bird 2.0!</h1>
    <body>
      <p>Refer to the OLED display to choose a mode. Twist the rotary encoder to pick the option you wish to play. Then press down on it to initiate the game.</p>
      <p>You have 3 options to choose from: <b>joystick, accelerometer or arms</b>.</p>
      <p><b>Joystick mode</b> uses the joystick to navigate flappy bird. Push it up to move the bird up. Remember, you have to keep pushing the joystick up to keep the bird afloat.</p>
      <p><b>Accelerometer mode</b> uses the accelerometer to navigate flappy bird. Twist the accelerometer contraption to move the bird up. Remember, you have to keep twisting it to keep the bird afloat.</p>
      <p><b>Arms mode</b> uses you to navigate flappy bird. Move your arms above your head to have the bird fly up and move them down to have the bird start to fall. Don't be afraid to look a little silly!</p>
      <p>Have fun!</p>
      <p style="text-align:center;">
         <img style="max-width:40%; max-height:40%;" src="https://64.media.tumblr.com/d7856bef50cc7e3dfe24f791c40cc8cd/tumblr_n0mrqocMjb1qbxfjqo2_500.gifv"></img>
      </p>
    </body>
</head>
</html>
