<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/light.css">
    <link rel="stylesheet" href="static/style.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.1.1/socket.io.js"></script>
    <script type="text/javascript" src="static/phaser.min.js"></script>
    <script src="https://unpkg.com/@tensorflow/tfjs@3.6.0/dist/tf.min.js"></script>
    <script src="https://unpkg.com/@tensorflow-models/posenet@2.2.2/dist/posenet.min.js"></script>
    <script type="text/javascript" src="static/webcam-easy.min.js"></script> 
    <title>Flappy Bird 2.0!</title>
    <h1 style=font-size:60px>Arms Mode</h1>
    <p align="center">
      <a href=new_game>
         <button class=grey style="height:50px;width:150px">New Game</button>
      </a>
    </p>
</head>
<div style="display:flex; flex-direction: row; justify-content: center; align-items: center; margin: 35px;">
    <video id="webcam" autoplay playsinline width="480" height="360"></video>
    <div style="margin-left: 50px" id="game-area"></div>
</div>
    <script src="static/arms.js"></script>
</html>
